*{
  background-color: rgb(56, 53, 53);
}
.cont{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.container{
  border: 1px solid black;
  border-radius: 20px;
}
button{
  padding: 30px;
  margin: 5px;
  font-size: 20px;
  border-radius: 100px;
  outline: none;
  border: 0px;
  color: white;
  background-color: black;
}
button:hover{
  cursor: pointer;
  background-color: rgb(39, 39, 39);
}
input{
  padding:35px;
  size: 15px;
  font-size: 20px;
  text-align: right;
  margin-left: 5px;
  border: 0px;
  background-color: rgb(78, 77, 76);
  border-radius: 10px;
  margin-bottom: 10px;
  color: white;
  margin-top: 10px;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.zero{
  padding: 30px 70px;
}
.equalTo{
  padding: 30px 60px;
}
.btn-up button,.btn-right{
  background-color: rgb(255, 145, 0);
  color: black;
}
.btn-up button:hover,.btn-right:hover{
  background-color: rgb(252, 171, 65);
  color: black;
  cursor: pointer;
}
.btn-last{
  margin-bottom: 13px;
}